body{
    background-color: #193b681a;
}
.navbarBg{
    background-color: white;
    padding-left: 4.5%;
    color: #28292c;
    box-shadow:0px 15px 60px rgb(183, 182, 197);
}
.toggle_icon{
    color: #28292c;
}
.addlink{
    display: none;
}
.navUl{
    padding-right: 4.5%;
}
.layout{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.sidebar{
    width: 15%;
    padding-top: 0%;
}

h1, h2, h3{
    font-family: "Lato";
    color: #28292c;
}

h2{
    text-transform: uppercase;
}
h5{
    color: #193b68;
    font-family: "Lato";
}
h6{
    margin-top: 5px;
    color: #000000bf;
}
hr{
    border-top: 1px solid #00000040;
}

.actionBtn{
    width: 100%;
    margin-top: 20%;
    display: block;
}

.active{
    width: 100%;
    height: 40px;
    background-color: white;
    color: #28292c;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    box-shadow:0px 15px 25px rgb(183, 182, 197);
}
.active:hover, .unactive:hover{
    color: #28292c;
    text-decoration: none;
    width: 103%;
    height: 45px;
}
.actionDiv{
    width: 70%;
    margin-top: 2%;
}
.Formdiv{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow:0px 15px 25px rgb(183, 182, 197);
    padding: 20px;
    margin-bottom: 2%;
}
.PostDiv{
    width: 45%;
    margin-top: 2%;
}
label{
    color: #193b68;
}
.highlight{
    border: 1px solid #28292c;
}


.delete, .edit {
    width: 90px;
    height: 40px;
    color: #000;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-left: 8px;
}

.icon{
    margin: 0px 5px;
}
.divider{
    width: 100%;
    text-align: center;
    margin: 5% 0;
}

footer {
    background-color: white;
    color: #28292c;
    box-shadow:15px 15px 60px rgb(183, 182, 197);
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    position: fixed;
    left: 0;
    bottom: 0;
  }


@media screen and (max-width:1000px){
    .right-sidebar{
        display: none;
    }
    .sidebar{
        width: 25%;
    }
    .actionDiv, .PostDiv{
        width: 65%;
    }
}

@media screen and (max-width:900px){
    .sidebar{
        width: 20%;
    }
    .actionBtn{
        width: 100%;
        margin-top: 20%;
        display: block;
    }
    

}

@media screen and (max-width:760px){

    .addlink{
        display: block;
        width: 100%;
    }
    .actionDiv, .PostDiv{
        width: 95%;
    }
    
}
@media screen and (max-width:500px){
    .end{
        display: block;
    }
    .action{
        padding-top: 10px;
        width: 300px;
    }
    .primary, .secondary{
        width: 300px;
    }
    .secondary2{
        width: 140px;
    }
    footer {
        position: relative;
        margin-top: 10%
      }
      
}
@media screen and (max-width:450px){
    .action{
        width: 80%;
    }
    .primary, .secondary{
        width: 80%;
    }
    .secondary2{
        width: 40%;
    }
    .subinfo{
        display: block;
    }
    footer {
        position: relative;
        margin-top: 10%
      }
}